certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
idna==2.10
pafy==0.5.5
Pygments==2.8.1
pytube==10.7.2
requests==2.25.1
rich==10.1.0
six==1.15.0
spotipy==2.18.0
typing-extensions==3.10.0.0
urllib3==1.26.4
youtube-dl==2021.4.26
youtube-title-parse==1.0.0